
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto';
    font-style: normal;
}
header{
    margin-top: 50px;
    margin-left: 30px;
}
ul {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    /*background-color: #111;*/
}
.scroll-down{
    position: absolute;
    left: 50%;
    top: 90%;
    color: #FFFFFF;
    cursor: pointer;
}
.introduzione_sinistra{
    font-family: 'Roboto';
    height: 100vh;
    float: left;
    background: #0F1146;
    width: 60%;
}
.spaziatore{
    height: 150px;
}

.intestazione{
    margin-top: 50px;
    width: 869px;
    left: 17px;
    margin: 0 auto;
}
.nome{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    text-align: center;

    color: #BC0000;
}
.lavoro{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}
.bottone1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    color: #25297E;
    background: #D9D9D9;
    border-radius: 20px;
    width: 252px;
    height: 80px;
    left: 165px;
    top: 552px;
    border-width: 0;

}
.bottone2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    color: #FFFFFF;
    width: 249px;
    height: 80px;
    left: 468px;
    top: 552px;

    background: #BC0000;
    border-radius: 20px;
    border-width: 0;
}
.bottoni{
    text-align: center;
}
.introduzione_codice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    float: left;
    /*text-align: center;*/
    width: 40%;
    /*background: #1E1E1E;*/
    background-color: #1E1E1E;

}
.codice{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    overflow: hidden;
}
pre {
    word-break: break-all;
    background-color: #1E1E1E;
    color: #D4D4D4;
    padding: 10px;
    overflow-x: auto;
}

.line-number {
    color: #807676;
    display: inline-block;
    width: 2em;
    user-select: none;
}

.keyword {
    color: #C586C0;
}

.identifier {
    color: #E9E9E8;
}

.string {
    color: #F2858F;
}

.return{
    color: #D72E82;
}
.parenthesis{
    color: #DABF34;
}

.function{
    color: #875AFB;
}

.comment {
    color: #807676;
}
.console{
    color: #A081F2;
}
.titolo{
    margin-top: 100vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    text-align: center;
    color: #BC0000;
}
.immagine_laterale{
    margin-left: 50px;
    width: 1%;
    float: left;
}
.prima_immagine{
    float: left;
}
.second{
    /*margin-top: 100vh;*/
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;

}

body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    background: #111;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#drag-container,
#spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
}

#drag-container img,
#drag-container video {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover,
#drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
    box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
    /*font-family: Serif;*/
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #fff;
}

#ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(
            center center,
            farthest-side,
            #9993,
            transparent
    );
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

* {
    /*font-family: Rubik,sans-serif*/
}

*,:after,:before {
    box-sizing: border-box
}

@media screen and (max-width: 768px) {
    html {
        font-size:15px
    }
}

@media screen and (max-width: 465px) {
    html {
        font-size:14px
    }
}

body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    background: #202020;

    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.2) 50%, #202020 100%), url(https://images.unsplash.com/photo-1567359781514-3b964e2b04d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1468&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-title{
    color: #CCCCCC;
    font-size: 2.5rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid #602DFF;
    border-radius: 1rem;
    background: #252525;
    max-width: 375px;
    width: 100%;
}

label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #ccc;
}

label input, label textarea{
    background: #202020;
    padding: .75rem;
    font-size: 1rem;
    border-radius: .5rem;
    color: #e5e5e5;
    border: 1px solid transparent;
    transition: all .25s ease 0s

}

label textarea{
    max-width: 100%;
    max-height: 200px;
    min-width: 200px;
    min-height: 100px;
}

.send-btn{
    background: linear-gradient(90deg, #602DFF 0%, #170055 100%);
    padding: .75rem;
    font-size: 1rem;
    font-weight: 600;
    color: #CCC;
    border-radius: .5rem;
    cursor: pointer;
}

label input:hover,
label textarea:hover,
label input:focus,
label textarea:focus{
    border-color: #602DFF;
    box-shadow: 0 0 0 3px #602DFF80;
}

.send-btn:hover, .send-btn:focus{
    background: linear-gradient(90deg, #602DFF 75%, #170055 100%);
}

@media screen and (max-width: 900px){
    .contact{
        flex-direction: column;
        gap: 1rem;
    }
    .contact-title{
        text-align: center;
    }
}

.spin-card{
    cursor: pointer;
    z-index: 50;
}